<%= content_for :breadcrumbs do
  breadcrumbs([[movie_path(@movie), @movie.title], [movie_inventories_path(@movie), "Inventories"]])
end
%>
<%= content_for :title do %>
  Inventories
<% end %>


<% if @inventories.size == 0 %>
  <%= empty_resource Inventory, cta: new_movie_inventory_path %>
<% end %>

<% if @inventories.size > 0 %>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Items</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.name %></td>
        <td>
          <i class="fa fa-<%= Inventory::ICONS[inventory.inventory_type&.to_sym] %>"></i>
          <%= inventory.inventory_type&.titleize %>
          </td>
        <th>
          <%= inventory.items.count %>
        </th>
        <td><%= link_to 'Show', movie_inventory_path(@movie, inventory) %></td>
        <td><%= link_to 'Edit', edit_movie_inventory_path(@movie, inventory) %></td>
        <td><%= link_to 'Destroy', movie_inventory_path(@movie, inventory), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<div class="content-wrapper-footer">
  <%= link_to "Create", new_movie_inventory_path(@movie), class: "btn btn-xs btn-primary" %>
</div>
