<%= form_for [@movie, @schedule, @schedule_event, @event] do |form| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :location %><br>
        <%= form.select :location_id,
                     @movie.locations.all.map { |u| [u.name, u.id] },
                     { include_blank: true },
                     { class: 'chosen-select' }
        %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :scene_id %><br>
        <%= form.select :scene_id,
                        @movie.scenes.all.map { |u| [u.name, u.id] },
                        { include_blank: true },
                        { class: 'chosen-select' }
        %>
      </div>
    </div>
  </div>

  <%= render partial: "movies/schedule/events/shared", locals: { form: form } %>

  <div class="content-wrapper-footer">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
