<%= content_for :breadcrumbs do
  breadcrumbs([[movie_path(@movie), @movie.title], [movie_locations_path(@movie), "Locations"]])
end
%>
<%= content_for :title do %>
  Locations
<% end %>


<% if @locations.size == 0 %>
  <%= empty_resource Location, cta: new_movie_location_path %>
<% end %>

<% if @locations.size > 0 %>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= link_to 'Show', movie_location_path(@movie, location) %></td>
        <td><%= link_to 'Edit', edit_movie_location_path(@movie, location) %></td>
        <td><%= link_to 'Destroy', movie_location_path(@movie, location), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<div class="content-wrapper-footer">
  <%= link_to "Create", new_movie_location_path(@movie), class: "btn btn-xs btn-primary" %>
</div>
