<%= content_for :lead_title do %>
  <%= @movie.title %>
<% end  %>

<%= content_for :lead do %>
  Please provide your contact information below. Data is stored between visits.
<% end  %>

<%= content_for :title do %>
  Contact Form
<% end %>


<%= form_for @contact, url: collect_movie_actors_path(@movie) do |form| %>
  <% if @contact.errors.size > 0 %>
    <div class="alert alert-danger">Something went wrong, please try again later. You're data is stored between visits.</div>
  <% end %>
  <strong>Personal data</strong>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= form.label :firstname %>
        <%= form.text_field :firstname, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= form.label :lastname %>
        <%= form.text_field :lastname, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= form.label :phonenumber %>
        <%= form.text_field :phonenumber, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control" %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= form.label :dob, "Date of Birth" %>
        <%= form.text_field :dob, type: "date", class: "form-control" %>
      </div>
    </div>
  </div>
  <hr>
  <strong>Address</strong>
  <div class="row ">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= form.label :street %>
        <%= form.text_field :street, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= form.label :location %>
        <%= form.text_field :location, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= form.label :postalcode %>
        <%= form.text_field :postalcode, class: "form-control" %>
      </div>
    </div>
  </div>
  <hr>
  <strong>Other</strong>
  <%= form.label :allergenes %>
  <%= form.text_area :allergenes, class: "form-control", rows: 4 %>
  <hr>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
