<nav class="navbar navbar-expand-lg  bg-white">
  <div class="container">
    <a class="navbar-brand" class="text-dark" href="<%= root_path %>">
      <%= image_tag "buddyplan", class: "logo", style: "padding-right: 5px;" %>
      <span class="logo-text text-dark">buddyplan.net</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-chevron-down"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbar-default">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <span class="logo-text">BUDDYPLAN.NET</span>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <% if current_user %>
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="<%= root_path %>">
              <%= small_icon "home", height: 25 %>
              <span class="nav-link-inner--text">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="<%= movies_path %>">
              <%= small_icon "camera", height: 25 %>
              <span class="nav-link-inner--text">Movies</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="<%= pricing_index_path %>">
              <%= small_icon "money", height: 25 %>
              <span class="nav-link-inner--text">Pricing</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="<%= account_index_path %>">
              <%= small_icon "account", height: 25 %>
              <span class="nav-link-inner--text">Account</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="<%= destroy_user_session_path %>" data-method="delete" role="button">
              <%= small_icon "login", height: 25 %>
              <span class="nav-link-inner--text">Logout</span>
            </a>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="<%= root_path %>">
              <%= small_icon "home", height: 25 %>
              <span class="nav-link-inner--text">Home</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="<%= pricing_index_path %>">
              <%= small_icon "money", height: 25 %>
              <span class="nav-link-inner--text">Pricing</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="<%= new_user_session_path %>" role="button">
              <%= small_icon "login", height: 25 %>
              <span class="nav-link-inner--text">Login</span>
            </a>
          </li>
        </ul>
      <% end %>

    </div>
  </div>
</nav>
