<%= content_for :breadcrumbs do
  breadcrumbs([[movie_path(@movie), @movie.title], [movie_actors_path(@movie), "Actors"]])
end
%>
<%= content_for :title do %>
  Actors
<% end %>


<% if @actors.size == 0 %>
  <%= empty_resource Actor, cta: new_movie_actor_path %>
<% end %>

<% if @actors.size %>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.firstname %> <%= actor.lastname %></td>
        <td><%= link_to 'Show', movie_actor_path(@movie, actor) %></td>
        <td><%= link_to 'Edit', edit_movie_actor_path(@movie, actor) %></td>
        <td><%= link_to 'Destroy', movie_actor_path(@movie, actor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<div class="svg-box text-center p-3">
<%= raw @qrcode.as_svg(offset: 0, color: '000',
                       shape_rendering: 'crispEdges',
                       module_size: 4) %>
<br><br>
  <p>You can collect personal information using the following URL or QR code
  <code><%= @collect_info_url %></code></p>
</div>

<div class="content-wrapper-footer">
  <%= link_to "Create", new_movie_actor_path(@movie), class: "btn btn-xs btn-primary" %>
</div>

