<%= content_for :breadcrumbs do
  breadcrumbs([[movie_path(@movie), @movie.title], [movie_actors_path(@movie), "Actors"], [movie_actor_path(@movie, @actor), "#{@actor.firstname} #{@actor.lastname}"]])
end
%>
<%= content_for :title do %>
  <%= @actor.firstname %> <%= @actor.lastname %>
<% end %>

<div class="tab-bar">
  <div class="tab tab-active">
    Schedule
  </div>
  <div class="tab">
    Contact
  </div>
  <div class="tab">
    Invite
  </div>
</div>

<div class="tab-content">
  <div>
    <%= render partial: "schedule", locals: { actor: @actor } %>
  </div>
</div>
