<%= content_for :breadcrumbs do
  breadcrumbs([[movie_path(@movie), @movie.title], [movie_cars_path(@movie), "Cars"]])
end
%>
<%= content_for :title do %>
  Cars
<% end %>


<% if @cars.size == 0 %>
  <%= empty_resource Car, cta: new_movie_car_path %>
<% end %>

<% if @cars.size > 0 %>
  <div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= link_to 'Show', movie_car_path(@movie, car) %></td>
        <td><%= link_to 'Edit', edit_movie_car_path(@movie, car) %></td>
        <td><%= link_to 'Destroy', movie_car_path(@movie, car), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
<% end %>

<div class="content-wrapper-footer">
  <%= link_to "Create", new_movie_car_path(@movie), class: "btn btn-xs btn-primary" %>
</div>
