<%= content_for :breadcrumbs do
  breadcrumbs([[movie_path(@movie), @movie.title], [movie_scenes_path(@movie), "scenes"]])
end
%>
<%= content_for :title do %>
  scenes
<% end %>


<% if @scenes.size == 0 %>
  <%= empty_resource Scene, cta: new_movie_scene_path %>
<% end %>

<% if @scenes.size > 0 %>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @scenes.each do |scene| %>
      <tr>
        <td><%= scene.name %></td>
        <td><%= link_to 'Show', movie_scene_path(@movie, scene) %></td>
        <td><%= link_to 'Edit', edit_movie_scene_path(@movie, scene) %></td>
        <td><%= link_to 'Destroy', movie_scene_path(@movie, scene), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<div class="content-wrapper-footer">
  <%= link_to "Create", new_movie_scene_path(@movie), class: "btn btn-xs btn-primary" %>
</div>
