<div class="schedule-event" data-id="<%= @event.id %>">
  <div class="drag-handle"><%= image_tag "sort", height: 16 %></div>
  <i class="lead-icon fa fa-car fa-fw fa-2x"></i>
  <div class="row p-3">
    <div class="col-sm-6">
      <% if @event.schedulable.location %>
        <%= small_icon("map") %> <%= link_to @event.schedulable.location&.name, edit_movie_location_path(@movie, @event.schedulable.location) %>
        <br><br>
      <% end %>
      <% if @event.schedulable.scheduled_on %>
        <%= small_icon("clock-o") %> <%= @event.schedulable.scheduled_on.strftime("%H:%M") %>
        <br><br>
      <% end %>

      <% if @event.event_participants.count %>
        <%= small_icon("actors") %> <%= @event.event_participants.count %>
        <%= participants @event.event_participants %>
        <br><br>
      <% end %>

      </div>
    <div class="col-sm-6">
      <% if @event.schedulable.car %>

        <%= small_icon("car") %> <%= link_to @event.schedulable.car.readable_name, edit_movie_car_path(@movie, @event.schedulable.car) %>
        <br><br>
      <% end %>


      <% if @event.schedulable.estimate %>
        <%= small_icon("hourglass-2") %> <%= @event.schedulable.estimate %> minutes
      <% end %>

      <br><br>
      <%= link_to "Edit", edit_movie_schedule_event_ride_event_path(@movie, @event, @event.schedulable), class: "btn btn-sm btn-outline-primary" %>
      <%= link_to "Delete", movie_schedule_event_ride_event_path(@movie, @event, @event.schedulable), method: "delete", class: "btn btn-sm btn-outline-primary" %>
      <br><br>
    </div>
  </div>
</div>
