<!DOCTYPE html>
<html>
<head>
  <title>buddyplan.net | <%= content_for :title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="<%= content_for :title %> | www.buddyplan.net">
  <meta property="og:description" content="<%= content_for :graph_description %>">
  <meta property="og:image" content="<%= image_url('logo_graphic.png') %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:700" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>
<%= render partial: "partials/navigation" %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="pt-5">
        <div class="project media">
            <div class="media-body">
              <h5 class="mt-0"><%= content_for :lead_title %></h5>
              <%= content_for :lead %>
          </div>
        </div>
        <br>
        <%= content_for :breadcrumbs %>
        <div class=" content-wrapper">
          <div class="content-wrapper-title"><%= content_for :title %></div>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= bootstrap_class_for_flash key %>">
              <%= value %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
          <%= yield %>
        </div>
        <br><br>
        <%= content_for :another_card %>
      </div>
    </div>
  </div>
  <div class="branding-element text-center">
    <%= image_tag "logo_graphic.png", width: 64 %>
    <p class="branding">Powered by <strong class="logo-text">buddyplan.net</strong></p>
    <a href="<%= root_url %>" class="btn btn-lg btn-primary">Getting started</a>
  </div>
</div>

<footer class="text-center mt-5">
  <div class="container">
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <small class="copyright">
          © 2019
          <a href="https://www.buddyplan.net" class="logo-text">buddyplan.net</a>.
        </small>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-center">
          <li class="nav-item">
            <a href="https://pascalraszyk.de" class="nav-link" target="_blank">Imprint</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/posixpascal/buddyplan.net" class="nav-link" target="_blank">Source Code</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
